Data type and Structures.

---

1. What are data structures, and why are they important?
  - Data structures are a specific way of organizing data in a specialized format on a computer so that the information can be organized, processed, stored, and retrieved quickly and effectively.

2.  Explain the difference between mutable and immutable data types with examples.
  - mutable data type can be changed and modified, on the other hand immutable data type can't be modified and changed.
  ex -> tuple is a imutable data type object.
        list is a mutable data type.

3. What are the main differences between lists and tuples in Python?
  - list and tuple both can consume all type data but the only key difference is lists are mutable and tuples are immutable.

4. Describe how dictionaries store data.
  - dictionary stores data in the form of key value pairs. keys are immutable therefore it can't be modified but theire value can be get changed or modified.

5. Why might you use a set instead of a list in Python?
  - whenever we want unique value from the all given value there we can use set instead of lists.

6.  What is a string in Python, and how is it different from a list?
  - In Python, strings are used for representing textual data. A string is a sequence of characters enclosed in either single quotes ('') or double quotes (“”).  Strings and lists are similar, but they are not same lists can hold any type of data i.e. integers, characters, strings etc, while strings can only hold a set of characters.

7.  How do tuples ensure data integrity in Python?
  -  Tuples are similar to lists but with a key difference: once a tuple is created, its contents cannot be changed. This immutability makes tuples a reliable choice for storing fixed collections of data.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - Hash tables or has maps in Python are implemented through the built-in dictionary data type. The keys of a dictionary in Python are generated by a hashing function. The elements of a dictionary are not ordered and they can be changed.

9. Can lists contain different data types in Python?
  - list can contain any data types in python, it's mutable that's why it can be changed and get modified.

10.  Explain why strings are immutable in Python.
   - String is immutable in Python to ensure security, thread safety, and simplify memory management by preventing its state from being changed once created.

11. What advantages do dictionaries offer over lists for certain tasks?
  - dictionary helps to assign some value to a key that can helps in some work as needed, list does provide such facilty.

12. Describe a scenario where using a tuple would be preferable over a list.
  - tuple are immmutable so that if once a value assigned it can't get changed or modified. Ex -> empoyee id of an employee are fixed it can stores in tuple.

13. How do sets handle duplicate values in Python?
  - sets removes the duplicate value as it's gives the unique value and values are unordered.

14. How does the “in” keyword work differently for lists and dictionaries?
  - The in operator in Python checks if a specified value exists within a sequence, such as a list, tuple, or string. In Python, the in keyword also helps iterate over sequences in for loops, and if we use in operator in dictionary directly then it will checks whether that specified key exist in dictionary or not.

15. Can you modify the elements of a tuple? Explain why or why not.
  - we can not modify element of a tuple because tuples are immutable and immutable object does not gives permission to change or modify the element.

16. What is a nested dictionary, and give an example of its use case?
  - Python dictionaries are a type of data structure that allows for storing data in key-value pairs. Nested dictionaries are dictionaries that are stored as values within another dictionary.
  - if we want to stores multiple values as dictionary in the existing dictionary like, book1 has the one key of value that's has many chapters with their author and book2 also had some chapters and thier authors in that case we can use nested dictionary pattern.

17. Describe the time complexity of accessing elements in a dictionary.
  - Time complexity: O(1), which is constant time. This is because dictionary in Python is implemented as a hash table, and the “in” operator uses hash table lookups to find the key, which takes constant time on average.

18.  In what situations are lists preferred over dictionaries?
  - in the case where we want to stores the data individually without any pair and if we want make any modification in future in that case we prefer lists more over any data type.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are unordered. When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change. Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - lists are oredered it means every element stores in list has there index value so that we can retrieve data by using there index number.
  - other hand dictionaries are unordered and key of dictioinary does not carries any index number that's why we can not retrieve data by using index method.

In [1]:
#1. Write a code to create a string with your name and print it

name = "vipul"
print(name)

vipul

In [2]:
#2. Write a code to find the length of the string "Hello World".

str = "Hello World"
print(len(str))

11

In [4]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

str = "Python Programming"
print(str[0:3])

Pyt

In [7]:
#4. Write a code to convert the string "hello" to uppercase.

str = "hello"
print(str.upper())

HELLO

In [8]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

str = "I like apple"
print(str.replace("apple", "orange"))

I like orange

In [9]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [11]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [13]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [14]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [15]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

In [17]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [18]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

tuple = (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [19]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')..

tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [21]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

tuple = ('apple', 'orange', 'banana')
if "banana" in tuple:
  print("exist")
else:
  print("does not exist.")

exist

In [22]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

set = {1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [23]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [24]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

In [25]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [26]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

tuple = (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [27]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')..

tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [28]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

tuple = ('apple', 'orange', 'banana')
if "banana" in tuple:
  print("exist")
else:
  print("does not exist.")

exist

In [29]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

set = {1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [30]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}